@font-face {
    font-family: barlow;
    src: url(./Barlow-Light.ttf);
  }
  @font-face {
    font-family: nanum;
    src: url(./NanumGothic-Regular.ttf);
  }

  @font-face{
      font-family: questrial;
      src: url(./Questrial-Regular.ttf);
  }
  @import url('https://fonts.googleapis.com/css2?family=M+PLUS+1&display=swap');

body{
    height: 100%;
    margin: 0px;
    font-family: nanum;
}
.main-banner{
    width: 100%;
    height: 500px;
    background-image: url(./images/desktop/image-hero.jpg);
}

.header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    
    padding-top: 40px;
}
.header a{
    
    color: aliceblue;
    text-decoration: none;
    margin:0 10px;
    font-weight: bold; 
    
}
a:hover{
   
    
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}
.menu{
    text-align: right;
}
.banner-text{
    font-size: 45px;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    width: 450px;
    padding: 20px;
    margin-left: 15%;
    margin-top: 130px;
    font-family: barlow;
} 

.boy-photo{
    position: relative;
    height: 450px;
    margin: 150px;
    
    z-index: 0;
}

.obj{
    position: absolute;
    border: 1px solid white;
    width: 430px;
    height: 300px;
    background-color: white;
    right: 110px;
    top: 45%;
    z-index: 6;
    padding: 70px;
}
.leaderInInteractiveDiv{
    position: relative;
    
}

.title-text{
    text-transform: uppercase;
    font-family: barlow; 
    font-size: 42px;
    margin-bottom: 38px;
    margin-top: 0;
    
}

.content-text{
    color: gray;
    font-family: questrial;
    font-size: 15px;
    
}

.seeAll{
    display: flex;
    position: relative;
    align-items: center;
    padding:0 15%;
    margin-bottom: 25px;

}


.creations{
    font-family: barlow;
    
    
    font-size: 35px;
    text-transform: uppercase;
}

.click{
    
    width: 110px;
    height: 30px;
    text-transform: uppercase;
    font-family: 'M PLUS 1', sans-serif;
    color: black;
    background-color: white;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    border-radius: 5px;
    position: absolute;
    right: calc(15% - 53px);
}


.click:hover{
    
    background-color: black;
    color: white;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0 11%;
    
    
}

.item{
    padding: 20px;
    width: 250px;
}


.ourCreation{
    position: relative;
    width: 22%;
    
    margin-left: 13px;
    margin-right: 13px;
}
.creationHeader{
    position: absolute;
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    bottom: 5px;
    font-weight: 100;
    width: 50px;
    font-family: barlow;
    left: 50px;
}

/** Footer**/

.footer{
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #000;
    margin-top: 180px;
    
}

.footer_logo{
    padding: 60px 15% 0;
}

.footer-menu{
    text-align: left;
    margin-top: 25px;
    font-weight: 500;
   
    
}
.footer_logo a{
    color: white;
    text-decoration: none;
    margin-top: 30px;
}

.footerNav {
    margin: 0 10px;
}

.footerAbout {
    margin-right: 10px;
}

.icon{
    position: absolute;
    right: 15%;
    top: 60px;
    
}

.footerIcon{
    margin: 0 10px;
}

.Loopstudios{
    font-family: nanum;
    color: rgba(255, 255, 255, 0.432);
    margin-top: 30px;
    text-align: left;
    font-weight: 500;
    margin-left: 10px;

}

a.author {
    color: rgba(255, 255, 255, 0.432);
    text-decoration: none;
    
}

